#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -2;
  
}
#particles {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: -2;
}

}
